<table cellspacing="0" class="calendar-content">
  <thead>
    <tr>
      <td  *ngFor="let day of weekDays">{{day}}</td>
    </tr>
  </thead>
  <tbody id="tbody">
    <tr *ngFor="let week of weeklyChunk(monthData, 7)">
      <td class='day'
        [ngClass]="{'active': day == monthDay.np && selectedDate.month == month && selectedDate.year == year}"
        *ngFor="let monthDay of week"
        (click)='selectDate(monthDay)'>
        <div class='np'>{{monthDay.np}}</div>
        <div class='en'>{{monthDay.en}}</div>
      </td>
    </tr>
  </tbody>
</table>
